.MainLayout {
  display: grid;
  grid-template-areas:
  'sidebar content content';
  grid-template-columns: min-content 1fr 100px;
  height: 80vh;
}

.frame {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  height: var(--frame-height);
  z-index: 100;

  display: flex;
  align-items: center;

  padding: 0 var(--content-padding);

  background-color: var(--surface-ground);
  -webkit-app-region: drag;
}


.header {
  grid-area: header;
  margin-top: var(--frame-height);
}

.content {
  grid-area: content;
  justify-self: center;
  width: 100%;
}

.sidebar {
  position: sticky;
  top: 0;
  height: calc( 100vh - var(--frame-height) - var(--header-height));
}

.toolbar {
  height: 100%;
}
