.MainLayout {
  display: grid!important;
  grid-template-areas:
  'sidebar header'
  'sidebar content';
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  row-gap: 16px;
  height: 100%;
  margin-top: var(--frame-height);
}

.frame {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  height: var(--frame-height);
  z-index: 99999;

  padding: 0 var(--content-padding);

  background-color: var(--surface-ground);
  -webkit-app-region: drag;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}


.header {
  grid-area: header;
}

.content {
  grid-area: content;
  justify-self: center;
  width: 100%;
}

.sidebar {
  height: calc( 100vh - var(--frame-height) - var(--header-height));
  grid-area: sidebar;
}

.toolbar {
  height: 100%;
}
