.body1 {
  font-family: var(--font-family);
  font-size: 1rem;
}

.body2 {
  font-family: var(--font-family);
  font-size: 0.75rem;
}

.h1 {
  font-size: var(--font-size-h1);
  font-weight: 600;
}

.h2 {
  font-size: var(--font-size-h2);
}

.h3 {
  font-size: var(--font-size-h3);
}

.h4 {
  font-size: var(--font-size-h4);
}

.h5 {
  font-size: var(--font-size-h5);
}

.h6 {
  font-size: var(--font-size-h6);
}
